{% extends "zolastrap/templates/page.html" %}
{% block content %}


<!-- 

{# for debugging #}

{% set section = get_section(path="cellar/_index.md", metadata_only=true) %}

<h2>section vars</h2>
{% for key,value in section %}
<code>{{ key }} = {{ value }}</code><br>
{% endfor %}

<h2>section extra vars</h2>
{% for key,value in section.extra %}
<code>{{ key }} = {{ value }}</code><br>
{% endfor %}
            
<h2>page vars</h2>
{% for key,value in page %}
<code>{{ key }} = {{ value }}</code><br>
{% endfor %}

<h2>page taxonomies vars</h2>
{% for key,value in page.taxonomies %}
<code>{{ key }} = {{ value }}</code><br>
{% endfor %}

<h2>page extra vars</h2>
{% for key,value in page.extra %}
<code>{{ key }} = {{ value }}</code><br>
{% endfor %} 

-->


  {% if page.taxonomies.tags %}
  <p>
    {% for tag in page.taxonomies.tags %}
    <a
      href="{{get_taxonomy_url(kind="tags", name=tag)}}"
      class="badge bg-dark text-decoration-none link-light me-1"
    >
      {{tag}}
    </a>
    {% endfor %}
  </p>
  {% endif %}

  <center><h1> {{ page.title }} </h1></center>
  
  <br>
  <center>
  <p>
  <div style="text-align:center; width:500px; marin:auto; padding: 20px; 
              border-style:solid; background-color: #EAF0F6;">
    {{ page.description }}
  </div>
  </p>
  </center>
  <br>

  {% block toc %}
  {% if page.toc %}
  <p>
  <div class="content">
  <h3>에 대한 흥미로운 사실 {{ page.title }}</h3>
    <br>
    <ul>
    {% for h1 in page.toc %}
        <li>
            <a href="{{ h1.permalink | safe }}">{{ h1.title }}</a>
            {% if h1.children %}
                <ul>
                    {% for h2 in h1.children %}
                        <li>
                            <a href="{{ h2.permalink | safe }}">{{ h2.title }}</a>
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
        </li>
    {% endfor %}
    </ul>
  </div>
  </p>
  <br>
  <br>
  {% endif %}
  {% endblock %}


  <div class="content">
    {{page.content | safe}}
  </div>

  {% if page.lower or page.higher %}
    <p>
      <h4>비슷한 와인에 관심이 있을 수 있습니다</h4>
      <br>
      <div class="links">
      {% if page.lower %} <a href="{{ page.lower.permalink }}"> {{ page.lower.title }} </a> {% endif %}<br>
      {% if page.higher %}<a href="{{ page.higher.permalink }}"> {{ page.higher.title }}</a> {% endif %}<br>
      </div>
    </p>
  {% endif %}
{% endblock %}