RewriteEngine On
RewriteBase /

## Redirect Wordpress Dynamic URL to Static URL
RewriteCond %{QUERY_STRING} (^|&)no\=([^\s&]+)($|&)
RewriteRule ^menu1/menu1_3_s1\.html$ /cellar/%2/? [R=301,L]
RewriteCond %{QUERY_STRING} (^|&)it_id\=([^\s&]+)($|&)
RewriteRule ^dgf/shop/item\.php$ /cellar/%2/? [R=301,L]

## Redirect invalid URL to main page
#if requested filename is not a existing file
#RewriteCond %{REQUEST_FILENAME} !-f
#if requested filename is not a existing directory
#RewriteCond %{REQUEST_FILENAME} !-d 
#Rewrite the url
#RewriteRule . index.html [L]
ErrorDocument 404 /404.html

## Redirect external links
# https://wine79.com/school/main.php -> https://wine79.com/school/
RewriteRule ^school/main\.php$ /school [R=301,L]
# https://wine79.com/dgf -> https://wine79.com/school/
RewriteRule ^dgf$ /school [R=301,L]